logs
project/project
target
target_coverage
tmp
.history
dist
.idea
/out
/.idea_modules
/.classpath
/.project
/.settings
/.target
/bin
/.cache
log.filepath_IS_UNDEFINED
log.event.filepath_IS_UNDEFINED
*~
